BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BreakBeforeBraces: Allman
ColumnLimit: 120
FixNamespaceComments: false
IndentAccessModifiers: true
IndentWidth: 4
PointerAlignment: Left
SeparateDefinitionBlocks: Always
UseTab: Never
